<mat-card>
  <mat-card-header> 
    <mat-card-title> 
      Results
    </mat-card-title>
  </mat-card-header>    
<mat-card-content>
    <mat-card>
      <table style="width:100%">
          <tr *ngFor="let Score of Scores  ">
            <td>   {{Score.homeTeamName}} </td>
            <td>   {{Score.homeTeamScore}}
              
            </td>
            <td>     Vs  </td>
            <td>   {{Score.awayTeamScore}} </td>
            <td>   {{Score.awayTeamName}}  </td>
          </tr>
       </table> 
    </mat-card>
</mat-card-content>
</mat-card>


     <!-- <mat-card-content>
<mat-card>

 <table style="width:100%">

    <tr *ngFor="let score of Scores$  | async; ">
        <td>   {{score.homeTeamName}}  </td>
        <td>   {{score.homeTeamScore}} </td>
        <td>     Vs  </td>
        <td>   {{score.awayTeamScore}} </td>
        <td>   {{score.awayTeamName}}  </td>
       
     </tr>

 </table> 


</mat-card>
</mat-card-content> -->
   

