<mat-card>
  <mat-card-header> 
    <mat-card-title> 
      Championship 
    </mat-card-title>
  </mat-card-header> 
  
<mat-card-content>
<table style="width:100%">
    <tr *ngFor="let  champFixture of champFixtures">
       <td>   
          <mat-checkbox 
            ngModel 
            name="TeamNo"  
            class="example-margin"
            (change)= "teamClick(champFixture.fixtureID,  champFixture.homeTeamNumber ,champFixture.awayTeamNumber, champFixture.homeTeamNumber, champFixture.leagueNumber )">        
              {{  champFixture.homeTeamName }} 
          </mat-checkbox>                                 
        </td>
        <td> Vs</td>
        <td>     
          <mat-checkbox 
            ngModel 
            class="example-margin" 
            name="TeamNumber"
            
            (change)= "teamClick(champFixture.fixtureID,  champFixture.homeTeamNumber ,champFixture.awayTeamNumber, champFixture.awayTeamNumber, champFixture.leagueNumber )"> 
            {{  champFixture.awayTeamName }}                   
          </mat-checkbox>
        </td>
    </tr> 
  </table> 
</mat-card-content>
</mat-card>
<!-- onChecked($event.target.checked) -->